# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/

# Production builds
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.local
.env.production
.env.*.local
secrets/
*.key
*.pem

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Hardhat
cache/
artifacts/
typechain/
typechain-types/

# Next.js
.next/
out/

# Misc
*.zip
*.tar.gz
.terraform/
*.tfstate
*.tfstate.backup
node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
node_modules/@cloudflare/workerd-linux-arm64/bin/workerd
